include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include itqan_mobile_app *.css
recursive-include itqan_mobile_app *.csv
recursive-include itqan_mobile_app *.html
recursive-include itqan_mobile_app *.ico
recursive-include itqan_mobile_app *.js
recursive-include itqan_mobile_app *.json
recursive-include itqan_mobile_app *.md
recursive-include itqan_mobile_app *.png
recursive-include itqan_mobile_app *.py
recursive-include itqan_mobile_app *.svg
recursive-include itqan_mobile_app *.txt
recursive-exclude itqan_mobile_app *.pyc